@(message: String, indexJson: String, positionsJson: String)

@main("Welcome to OpenOptions") {
    

	<div id="mychart" style="background-color:#EEEEEE;height:400px;width:600px;float:left;">Content</div>


  <script type="text/javascript">
  var positionValues = @Html(positionsJson);
  var indexValues = @Html(indexJson);
  
  window.onload = function () {
    
   
    var chart = new CanvasJS.Chart("mychart",
    {
      zoomEnabled: true,
      title:{
        text: "Performance of portfolio against benchmark", 
      },
      axisX:{
        labelAngle: 30,
      },
      
      axisY :{
        includeZero:false
      },
      
      data: data,  // random generator below
      
    });

    chart.render();
  }
  var data = [];
   var dataSeries1 = { type: "line" };
  dataSeries1.dataPoints = @Html(indexJson);
  //data.push(dataSeries);     
  
  var dataSeries2 = { type: "line" };
  dataSeries2.dataPoints = @Html(positionsJson);
  data.push(dataSeries1);     
  data.push(dataSeries2);     

  
  </script>

	<script type="text/javascript" src="@routes.Assets.at("javascripts/canvasjs.min.js")">

	</script>
    
}
