@(message: String, indexJson: String, positionsJson: String)

@main("Welcome to OpenOptions") {

@header("Performance against benchmark")
    
<div id="mychart" class="chartBox"></div>


  <script type="text/javascript">
  var positionValues = @Html(positionsJson);
  var indexValues = @Html(indexJson);
  
  window.onload = function () {
    
   
    var chart = new CanvasJS.Chart("mychart",
    {
      zoomEnabled: true,
      title:{
        text: "Performance of portfolio against benchmark", 
      },
      axisX:{
        labelAngle: 30,
      },
      
      axisY :{
        includeZero:false
      },
      
      data: data,  // random generator below
      
    });

    chart.render();
  }
  var data = [];
   var dataSeries1 = { type: "line", name: "Benchmark (Index)", showInLegend: true };
  dataSeries1.dataPoints = @Html(indexJson);
  //data.push(dataSeries);     
  
  var dataSeries2 = { type: "line", name: "Your portfolio", showInLegend: true };
  dataSeries2.dataPoints = @Html(positionsJson);
  data.push(dataSeries1);     
  data.push(dataSeries2);     

  
  </script>

	<script type="text/javascript" src="@routes.Assets.at("javascripts/canvasjs.min.js")">

	</script>
    
}
